.searchContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.cityInput {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.searchBtn {
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
}
