.weatherContainer {
  margin-top: 20px;
}

.weatherInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon img {
  width: 80px;
  height: 80px;
}

.toggle {
  margin-top: 20px;
}

.location {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.temp {
  font-size: 2em;
}

.condition {
  margin: 10px 0;
}

.humidity {
  margin: 10px 0;
}
