.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 1280px;
  /* width: 100%; */
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  
}

* {
  box-sizing: border-box;
  overflow: hidden;
}

/* Tablet View (768px and below) */
@media (max-width: 768px) {
  .app {
    width: calc(1280px - 768px);
  }
}

/* Mobile View (480px and below) */
@media (max-width: 480px) {
  .app {
    width: calc(1280px - 768px - 480px);
  }
}
